### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# Files to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
schools_df = pd.merge(student_data, school_data, how="left", on=["school_name"])

## District Summary

This section creates the District Summary Report:
* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [ ]:
# PREPARE VALUES FOR THE DISTRICT SUMMARY REPORT
# Calculate the total number of schools
num_schools = len(schools_df['School ID'].unique())

# Calculate total number of students
num_students = len(schools_df['Student ID'].unique())

# Calculate the total budget
tot_budget = school_data['budget'].sum()

# Calculate the average math score
avg_math_score = schools_df['math_score'].mean()

# Calculate the average reading score
avg_reading_score = schools_df['reading_score'].mean()

# Calculate the percentage of students with a passing math score (70 or greater) 
pct_passing_math = (len(schools_df.loc[schools_df['math_score'] >= 70])/num_students)*100

# Calculate the percentage of students with a passing reading score (70 or greater)
pct_passing_reading = (len(schools_df.loc[schools_df['reading_score'] >= 70])/num_students)*100

# Calculate the percentage of students who passed math and reading (% Overall Passing)
pct_overall_passing = (len(schools_df.loc[(schools_df['reading_score'] >= 70) & (schools_df['math_score'] >= 70)])/num_students)*100

In [ ]:
# Creating a summary DataFrame for the District
district_summary_df = pd.DataFrame({'Total Schools': [num_schools], 
                                     'Total Students': [num_students],
                                     'Total Budget': [tot_budget],
                                     'Average Math Score': [avg_math_score],
                                     'Average Reading Score': [avg_reading_score],
                                     '% Passing Math': [pct_passing_math],
                                     '% Passing Reading': [pct_passing_reading],
                                     '% Overall Passing': [pct_overall_passing],
                                    })

In [ ]:
# format the table for better readability
district_summary_df['Total Students'] = district_summary_df['Total Students'].map("{:,}".format)
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map("${:,.2f}".format)
district_summary_df.head()

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [98]:
# PREPARE VALUES FOR THE SCHOOL SUMMARY REPORT
# School name, type and total budget can come directly from school_data
# Total students
school_group = schools_df.groupby(["school_name"])
school_group.count().head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468

In [6]:
# Total students
student_counts = school_group["Student ID"].count()
student_counts.head()

school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: Student ID, dtype: int64

In [83]:
# total school budget
total_school_budget = school_group['budget'].mean()
total_school_budget.head()

school_name
Bailey High School      3124928
Cabrera High School     1081356
Figueroa High School    1884411
Ford High School        1763916
Griffin High School      917500
Name: budget, dtype: int64

In [7]:
# per student budget
per_student_budget = school_group['budget'].mean()/school_group["Student ID"].count()

In [ ]:
per_student_budget.head(20)

In [10]:
# average math score
average_math_score = school_group["math_score"].mean()
average_math_score.head(20)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [92]:
# average reading score
average_reading_score = school_group["reading_score"].mean()
average_reading_score.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [21]:
number_passing_math = schools_df.groupby('school_name')['math_score'].apply(lambda x: x[x >= 70].count())
pct_passing_math = (number_passing_math/student_counts)*100
pct_passing_math.head()

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [22]:
number_passing_reading = schools_df.groupby('school_name')['reading_score'].apply(lambda x: x[x >= 70].count())
pct_passing_reading = (number_passing_reading/student_counts)*100
pct_passing_reading.head()

school_name
Bailey High School      81.933280
Cabrera High School     97.039828
Figueroa High School    80.739234
Ford High School        79.299014
Griffin High School     97.138965
dtype: float64

In [58]:
passing_both_df = schools_df.loc[(schools_df['math_score'] >= 70) & (schools_df['reading_score'] >= 70)]
passing_both_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [82]:
number_passing_both = passing_both_df.groupby('school_name')['Student ID'].count()
pct_passing_both = (number_passing_both/student_counts)*100
pct_passing_both.head()

school_name
Bailey High School      54.642283
Cabrera High School     91.334769
Figueroa High School    53.204476
Ford High School        54.289887
Griffin High School     90.599455
Name: Student ID, dtype: float64

In [115]:
# Creating a School summary DataFrame
school_summary_df = pd.DataFrame({   'Total Students': student_counts,
                                     'Total School Budget': total_school_budget,
                                     'Per Student Budget': per_student_budget,
                                     'Average Math Score': average_math_score,
                                     'Average Reading Score': average_reading_score,
                                     '% Passing Math': pct_passing_math,
                                     '% Passing Reading': pct_passing_reading,
                                     '% Overall Passing': pct_passing_both
                                    })
school_summary_df.head(20)

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Bailey High School,4976,3124928,628.0,81.033963,81.033963,66.680064,54.642283,54.642283
Cabrera High School,1858,1081356,582.0,83.975780,83.975780,94.133477,91.334769,91.334769
Figueroa High School,2949,1884411,639.0,81.158020,81.158020,65.988471,53.204476,53.204476
Ford High School,2739,1763916,644.0,80.746258,80.746258,68.309602,54.289887,54.289887
Griffin High School,1468,917500,625.0,83.816757,83.816757,93.392371,90.599455,90.599455
Hernandez High School,4635,3022020,652.0,80.934412,80.934412,66.752967,53.527508,53.527508
Holden High School,427,248087,581.0,83.814988,83.814988,92.505855,89.227166,89.227166
Huang High School,2917,1910635,655.0,81.182722,81.182722,65.683922,53.513884,53.513884
Johnson High School,4761,3094650,650.0,80.966394,80.966394,66.057551,53.539172,53.539172
Pena High School,962,585858,609.0,84.044699,84.044699,94.594595,90.540541,90.540541
Rodriguez High School,3999,2547363,637.0,80.744686,80.744686,66.366592,52.988247,52.988247
Shelton High School,1761,1056600,600.0,83.725724,83.725724,93.867121,89.892107,89.892107
Thomas High School,1635,1043130,638.0,83.848930,83.848930,93.272171,90.948012,90.948012
Wilson High School,2283,1319574,578.0,83.989488,83.989488,93.867718,90.582567,90.582567
Wright High School,1800,1049400,583.0,83.955000,83.955000,93.333333,90.333333,90.333333

In [124]:
# Creating a School summary DataFrame
merged_school_summary_df = pd.merge(school_summary_df,school_data[['school_name','type']],on='school_name', how='left')
merged_school_summary_df.head()
reorganized_school_summary_df = merged_school_summary_df[['school_name', 'type','Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing']]
renamed_school_summary_df = reorganized_school_summary_df.rename(columns={'school_name':'School Name', 'type':'School Type'})
renamed_school_summary_df.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,4976,3124928,628.0,81.033963,81.033963,66.680064,54.642283,54.642283
1,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.975780,94.133477,91.334769,91.334769
2,Figueroa High School,District,2949,1884411,639.0,81.158020,81.158020,65.988471,53.204476,53.204476
3,Ford High School,District,2739,1763916,644.0,80.746258,80.746258,68.309602,54.289887,54.289887
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.816757,93.392371,90.599455,90.599455

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type